# Configuration

In this section, the configuration of the analytics data plane is explained. Configuration is used based on a `config.yaml` file which should be placed in the `apps/backend` folder. This `config.yaml` file is loaded when booting the application. The values get type checked, and it gives a clear error message if there is a configuration field missing or provided incorrectly. Next to the `config.yaml` file, you can also set environment variables. These override the values that are listed in the `config.yaml` file.

## Databases

By default, the development database is sqlite. We use postgres databases for production type instances of the analytics data planes.

## Authentication

Authentication for frontend services can be done via OAuth. This helps users who need to login to several components to authenticate themselves faster. The data plane is tested against the SSO Bridge, with an Helm chart provided alongside the Helm chart of the data plane, but other OAuth services should be usable (e.g. Keycloak, or hosted OAuth services).

## Persistent Volume Claim link with Jobs

The Kubernetes Persistent Volume Claim (PVC) used for file uploads can be linked with Jobs that are started by the Analytics Data Plane. To use this behavior the `files.pvcName` must be set to the same PVC name as is used for the `/uploads` folder.
Since PVCs can have different access modes, having a incompatible access mode will result in Jobs not being able to start. Please make sure the PVC has the access mode `ReadWriteMany` (RWX) or `ReadOnlyMany` (ROX) if you want to use the PVC with Jobs. The default access mode for most volume providers is `ReadWriteOnce` (RWO), which is not compatible with Jobs.

## Configuration parameters
