{
  "plugins": [
    "@semantic-release/release-notes-generator",
    "@semantic-release/gitlab"
  ],
  "branches": [
    "main",
    "39-add-semantic-release"
  ],
  "extends": "@semantic-release/gitlab-config"
}
